<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="Friendsmobile" connectionString="Data Source=65.108.239.244,1533; Database=virtualelectronics; User id=virtualelectronics; password=electronics@55;Max Pool Size=50000" providerName="System.Data.SqlClient" />
    <!--<add name="Friendsmobile" connectionString="Data Source=(localdb)\Projects;Initial Catalog=the;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient"/>-->
    
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR=YES'" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="mail.ankitsuitings.com" port="25" userName="info@ankitsuitings.com" password="Ankit@Info77" />
      </smtp>
    </mailSettings>
  </system.net>
  <system.web>
      <customErrors mode="Off" defaultRedirect="mycustompage.htm" />
    <machineKey decryptionKey="3A3EDA9DA65E28DC0BA5230426ABD077A78429E548F71A1E,IsolateApps" validationKey="E73D3FE848EC0C50BF98C088EAAB1172DAAFC2FE0246E9990D3F625B8DACE62CEE4B5AA4F6BE730CD94AA089E8A929C84B3FA982460D20989E434341908EAF7E,IsolateApps" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="1048576" />   
    <sessionState timeout="60000"></sessionState>
    <compilation debug="true" targetFramework="4.0">
     
    </compilation>
  </system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SqlInjection" type="SqlInjection" />
    </modules>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="DetailedLocalOnly" existingResponse="Auto" />
  </system.webServer>
  <!--
The system.webServer section is required for running ASP.NET AJAX under Internet
Information Services 7.0.  It is not necessary for previous version of IIS.
-->
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="10000" />
  </appSettings>
</configuration>